# OS
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/
*.swp
*.swo
*~

# Logs
*.log
logs/

# Dependencies
node_modules/
deps/
_build/

# Environment
.env
.env.local
.env.*.local

# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/.terraform.lock.hcl
